/roles/import-clusters/files/*

!/roles/import-clusters/files/.gitkeep

/roles/install-acm/files/*

!/roles/install-acm/files/.gitkeep

.DS_store
.vscode
*.crt
*.key

.ssh

oc_completion.sh

pull-secret.json